@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
/* Global  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
}

.container {
  max-width: 1203px;
  margin: 0 auto;
}

/* Header */
header {
  background-image: url(/src/img/mainimg.png);
  background-size: 100% 100%;
}

.header__logo {
  padding-top: 66px;
  float: left;
  padding-right: 10px;
}

.header__slogan {
  color: #ffffff;
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400;
  font-size: 21px;
  letter-spacing: -0.24px;
  padding-top: 76px;
}

.headercontent {
  padding-top: 352px;
  padding-bottom: 383px;
  font-family: "Open Sans";
  color: #ffffff;
  position: relative;
}

.headercontent__header {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 60px;
  font-weight: 300;
  padding-bottom: 20px;
}

.headercontent__text {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.headercontent__img {
  position: absolute;
  top: 180px;
  right: -115px;
}

/* Section 2. Text */
.textcontent__header {
  color: #222626;
  font-family: "Open Sans";
  font-size: 35px;
  font-weight: 300;
  line-height: 24px;
  padding-top: 113px;
}

.textcontent__maintext {
  color: #959595;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 30px;
  position: relative;
  padding-bottom: 83px;
}

.textcontent__finish_part {
  position: absolute;
  top: 128px;
  right: 0px;
}

/* Box section */
.textcontent__box__section {
  width: 400px;
  background-color: #f5989d;
  padding-left: 43px;
}

.textcontent__box__section__header {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 300;
  padding-top: 51px;
}

.textcontent__box__section__maintext {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 24px;
}

.textcontent__box__section__textinform {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 40px;
  padding-bottom: 59px;
  position: relative;
}

.textcontent__box__section__textinform__arrow {
  padding-left: 10px;
}

.textcontent__box__section__textinform__like {
  position: absolute;
  bottom: 43px;
  right: 43px;
}

.textcontent__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 97px;
}

/* Nth-Child */
.textcontent__box__section:nth-of-type(2) {
  background-color: #615f7d;
}

.textcontent__box__section:nth-of-type(3) {
  background-image: url(/scc/img/clients.png);
  background-color: #222626;
  background-size: 100% 100%;
}

.textcontent__box__section:nth-of-type(3) .textcontent__box__section__textinform {
  padding-top: 64px;
}

.textcontent__box__section:nth-of-type(4) {
  width: 800px;
  background-image: url(/src/img/sun.png);
  background-color: #222626;
  background-size: 100% 100%;
}

.textcontent__box__section:nth-of-type(4) .textcontent__box__section__textinform {
  padding-top: 64px;
}

.textcontent__box__section:nth-of-type(5) {
  background-color: #82ca9c;
}

/* Section 3. Detallis */
.details__header {
  color: #222626;
  font-family: "Open Sans";
  font-size: 35px;
  font-weight: 300;
  line-height: 24px;
  padding-bottom: 68px;
}

.detailswrapper__block__header {
  color: #67676d;
  font-family: "Open Sans - Semibold";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 28px;
}

.detailswrapper__block__maintext {
  color: #959595;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.detailswrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Section 4.  Power */
.powercontent {
  margin-top: 159px;
}

.powercontent__header {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 60px;
  font-weight: 300;
  padding-top: 444px;
}

.powercontent__text {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 30px;
}

.power {
  background-image: url(/src/img/Layer_8.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #222626;
  opacity: 1;
}

.powercontent__moreinform {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 40px;
  padding-bottom: 111px;
}

.powercontent__moreinform__arrow {
  padding-left: 10px;
}

/* Section 5. Reasons */
.reason {
  background-color: #82ca9c;
}

.reasons {
  padding-top: 125px;
  padding-bottom: 165px;
}

.reasons__header {
  color: #222626;
  font-family: "Open Sans";
  font-size: 35px;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 60px;
}

.reasonswrapper__block__header {
  color: #67676d;
  font-family: "Open Sans - Semibold";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 28px;
  color: #ffffff;
}

.reasonswrapper__block__maintext {
  color: #959595;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}

.reasonswrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Section 6. Buying  */
.buying {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.buying__block {
  padding-top: 150px;
  position: relative;
}

.buying__block__buttonfirst {
  width: 77px;
  background-color: #e1e1e1;
  color: #ffffff;
  font-family: "Open Sans - Extrabold";
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 7px;
}

.buying__block__buttonsecond {
  width: 110px;
  background-color: #bd8cbf;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 7px;
}

.buying__block__title {
  color: #222626;
  font-family: "Open Sans";
  font-size: 35px;
  font-weight: 300;
  line-height: 24px;
  color: #2e3b4e;
  padding-top: 23px;
}

.buying__block__text {
  color: #8297a7;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 25.03px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.buying__block__buttonfinish {
  width: 151px;
  height: 47px;
  background-color: #82ca9c;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  border: none;
  border-radius: 3px;
}

.buying__block__icon {
  width: 60px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

/* Footer */
footer {
  width: 1970px;
  background-color: #192431;
  margin-top: 201px;
}

.touch__wrapper__block__header {
  color: #f6f7fa;
  font-family: "Open Sans - Semibold";
  font-size: 13px;
  font-weight: 400;
  padding-top: 130px;
}

.touch__wrapper__block__text {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #f6f7fa;
  padding-top: 29px;
}

.touch__wrapper__block__shorttex {
  color: #57697f;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding-top: 18px;
}

.touch__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.touch__wrapper__block__form {
  width: 470px;
  height: 58px;
  background-color: #f6f7fa;
  margin-top: 27px;
  position: relative;
}

.touch__wrapper__block__form__foneimg {
  float: right;
}

.touch__wrapper__block__form__shapeimg {
  position: absolute;
  background-color: #82ca9c;
  top: 19px;
  right: 21px;
}

/* Part_2 */
.touch__contentnavigation__block__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 29px;
}

.touch__contentnavigation {
  width: 505px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.touch {
  padding-bottom: 104px;
}
/*# sourceMappingURL=main.css.map */